@using GoldAggregator.Parser.Entities.Enums
@model GoldAggregator.Parser.Entities.Entities.Dealer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Dealer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoTitle" class="control-label"></label>
                <textarea asp-for="SeoTitle" class="form-control"></textarea>
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <textarea asp-for="SeoDescription" class="form-control"></textarea>
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoKeyWords" class="control-label"></label>
                <textarea asp-for="SeoKeyWords" class="form-control"></textarea>
                <span asp-validation-for="SeoKeyWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label"></label>
                <input asp-for="ProviderName" class="form-control" />
                <span asp-validation-for="ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseUrl" class="control-label"></label>
                <input asp-for="BaseUrl" class="form-control" />
                <span asp-validation-for="BaseUrl" class="text-danger"></span>
                <a href="@Model?.BaseUrl">@Model?.BaseUrl</a>
            </div>
            <div class="form-group">
                <label asp-for="HasDelivery" class="control-label"></label>
                <input asp-for="HasDelivery" class="form-control" />
                <span asp-validation-for="HasDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealerType" class="control-label"></label>
                <select asp-for="DealerType" asp-items="Html.GetEnumSelectList<DealerTypeEnum>()" class="form-control"></select>
                <span asp-validation-for="DealerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
